<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Twitter" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class={if @live_action == :sign_in, do: "bg-white dark:bg-black antialiased", else: "antialiased"}>
    <%= case live_flash(@flash, :info) do %>
      <% nil -> %>
      <% flash -> %>
        <p class="bg-blue-500 text-white pl-8 p-6 m-6 rounded-lg" role="alert" phx-click="lv:clear-flash" phx-value-key="info">
          <%= flash %>
        </p>
    <% end %>
    <%= case live_flash(@flash, :error) do %>
      <% nil -> %>
      <% flash -> %>
        <p class="alert alert-danger bg-red-500 text-white pl-8 p-6 m-6 m-6 rounded-lg" role="alert" phx-click="lv:clear-flash" phx-value-key="error">
          <%= flash %>
        </p>
    <% end %>
    <%= @inner_content %>
  </body>
</html>
